.productContainer {
  margin: 15px 10px;
  height: 290px;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  .posterContainer {
    height: 150px;
    border: 1px solid rgba(176, 176, 176, 1);
    border-radius: 10px;
    padding: 10px;
    text-align: center;

    .poster {
      height: 150px;
      width: auto;
      max-width: 90%;
    }
  }
  .priceContainer {
    color: #1ea4ce;
    font-weight: bold;
    padding-top: 5px;
  }
  .productName {
    font-weight: bold;
  }
  .addBtn {
    width: 100%;
    height: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    background: #1ea4ce;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    bottom: 1px;
  }
}
