.header {
  width: 100%;
  height: 77px;
  background-color: #1ea4ce;
  background-image: url("../../../public/market-logo.png");
  background-position: center;
  background-size: auto 90%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .basketIcon {
    position: absolute !important;
    right: 5%;
    width: 130px;
    height: 77px;
    background-color: #147594 !important;
    color: #fff !important;
  }
}
