.container {
  width: 270px;
  float: left;
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-right: 10px;

  .productDetail {
    width: 70%;
    float: left;
    .name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 190px;
    }
    .price {
      margin-top: 10px;
      color: #1ea4ce;
    }
  }
  .actions {
    width: 30%;
    float: left;
    text-align: center;
    .formContainer {
      width: 100px;
      text-align: center;
      height: 50px;
      line-height: 50px;
      border: none !important;
      outline: none !important;
      .input {
        text-align: center;
      }
      .formInput {
        height: 75px;
        text-align: center;
        border: none !important;
        outline: none !important;
        .adornment {
          font-size: 25px;
          color: #1ea4ce;
          width: 25px;
          height: 25px;
          cursor: pointer;
        }
      }
    }
  }
}
